**.log
web/app/debug.log
web/app/uploads/*/
web/app/cache/acorn/logs/*.log
web/app/cache/acorn/framework/sessions/*
web/app/cache/acorn/framework/views/*.php
web/app/languages/*.json
web/app/cache/acorn/framework/cache/packages.php
web/app/cache/acorn/framework/cache/services.php
!*web/app/cache/acorn/framework/sessions/.gitkeep
web/app/themes/twentytwentythree
web/app/mu-plugins/bedrock-disallow-indexing
web/wp
vendor/
composer.lock
.env